/*body, html {
    width: 100%;
    height: 100%;
}
#myPatient {
    margin-left: 30%;
    margin-top: 5%;
}

#patientInfo {
    margin-bottom: 2%;
}
#myTable {
	width: 100%;
	background-color: #333;
}
.header {
	width: 20%;
	height: 50px;
	color: white;
}
.header:hover {
	cursor: hand;
	background-color: red;
}
#patientDiv {*/
	/*padding: 20px 20px 20px;
    border-radius: 40px;
    background-color:rgba(0, 0, 0, 0.6);*/
    /*display: block;*/
/*width: 50%;*/
/*float: left;*/
/*margin-top: 3%;
}
#patientInfo {
}
#patientTable {*/
    /*display: inline-block;*/
	/*width: 60%;
    margin-left: 18%;
    float: left;
}
.red {
	background-color: red;
}
#dispatchTable {
    float: left;
    width: 40%;
    margin-left: 5%;
}
#mapCall {
    position: absolute;
    right: 2px;
    width: 40%;
    height: 40%;*/ 
    /*margin-top: -315px;*/
/*}
#divCard {
    float: left;*/
    /*display: inline-block;*/ 
    /*width: 10%;
}
#buttonCard {
    width: 200%;
    height: 60px;
}
#divAllergies {*/
    /*display: inline-block;*/
    /*width: 40%;
    background-color: green;
}*/
/*#mHistory {*/
    /*display: inline-block;*/
    /*width: 40%;
    background-color: yellow;
}*/

html, body {
    width: 100%;
}
#myPatient {
    margin-left: 30%;
    margin-top: 5%;
}
#patientInfo {
    margin-bottom: 2%;
}
#myTable {
	width: 100%;
	background-color: #333;
}
.header {
	width: 20%;
	height: 50px;
	color: white;
}
.header:hover {
	cursor: hand;
	background-color: red;
}
#dispatchDiv {
    width: 55%;
    display: block;
    margin-top: 1%;
}
#dispatchTable {
    width: 100%;
    float: left;
}
#dispatchTable tbody tr {
    width: 100%;
}
#dispatchTable tbody th {
    width: 28%;
}
textarea, input {
    margin-left: 0px;
    border: 1px solid grey;
}
input {
    margin-top: 1%;
}
#cNameInput {
    margin-bottom: 1%;
}
#patientDiv {
	/*padding: 20px 20px 20px;
    border-radius: 40px;
    background-color:rgba(0, 0, 0, 0.6);*/
    /*display: block;
width: 50%;
float: left;
margin-top: 3%;*/
    display: block;
    width: 80%;
    margin-top: 1%;
}
#patientTable {
	width: 40%;
    float: left;
}
.red {
	background-color: red;
}
#dispatchTable {
    /*float: left;
    width: 40%;
    margin-left: 5%;*/
}
#mapCall {
    position: absolute;
    right: 2px;
    width: 40%;
    height: 400px; 
    margin-top: 3px;
}
#divCard {
    float: left;
    width: 10%;
    margin-top: 7%;
    margin-left: 5%;
}
#buttonCard {
    width: 200%;
    height: 60px;
}
#divAllergies {
    width: 45%;
    height: 250px;
    float: left;
}
#ulAllergies {
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    -moz-column-gap: 35px; /* Firefox */
    column-gap: 35px;
}
#ulAllergies li {
    margin-bottom: 2%;
}
#mHistory {
    width: 70%;
    height: 250px;
    float: left;
    margin-top: 3%;
    margin-left: 1%;
}
#ulHistory {
    width: 100%;
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
    -moz-column-gap: 35px; /* Firefox */
    column-gap: 35px;
}
#ulHistory li {
    margin-bottom: 2%;
}
#pAllergy {
    font-weight: bold;
}


