html, body {
    width: 100%;
}
body {
    background-image: url('../Images/greyGradient.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}
#myPatient {
    margin-left: 30%;
    margin-top: 5%;
}
#patientInfo {
    margin-bottom: 2%;
}
#myTable {
	width: 100%;
	background-color: #333;
}
.header {
	width: 20%;
	height: 50px;
	color: white;
}
.header:hover {
	cursor: hand;
	background-color: red;
}
#dispatchDiv {
    width: 55%;
    display: block;
    margin-top: 1%;
}
#dispatchTable {
    width: 100%;
    float: left;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.1);
}
#dispatchTable tbody tr {
    width: 100%;
}
#dispatchTable tbody th {
    width: 28%;
}
textarea, input {
    margin-left: 0px;
    border: 1px solid grey;
}
input {
    margin-top: 1%;
}
#cNameInput {
    margin-bottom: 1%;
}
#patientDiv {
	/*padding: 20px 20px 20px;
    border-radius: 40px;
    background-color:rgba(0, 0, 0, 0.6);*/
    /*display: block;
width: 50%;
float: left;
margin-top: 3%;*/
    display: block;
    width: 80%;
    margin-top: 1%;
}
#patientTable {
	width: 40%;
    float: left;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.1);
}
.red {
	background-color: red;
}
#problemDiv {
    width: 80%;
    margin-top: 1%;
}
#dispatchTable {
    /*float: left;
    width: 40%;
    margin-left: 5%;*/
}
#mapCall {
    position: absolute;
    right: 2px;
    width: 40%;
    height: 400px; 
    margin-top: 3px;
}
#divCard {
    float: left;
    width: 12%;
    margin-top: 7%;
    /* margin-left: -2%; */
    margin-right: -2%;
    position: relative;
    top: 322px;
}
#buttonCard {
    width: 200%;
    height: 60px;
}
#divAllergies {
    width: 45%;
    height: 250px;
    float: left;
    margin-left: 5%;
}
#ulAllergies {
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    -moz-column-gap: 35px; /* Firefox */
    column-gap: 35px;
}
#mHistory {
    width: 70%;
    height: 250px;
    float: left;
    margin-top: 3%;
    margin-left: 1%;
}
#ulHistory {
    width: 100%;
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
    -moz-column-gap: 35px; /* Firefox */
    column-gap: 35px;
}
#ulHistory li, #ulAllergies li, #ulInjuries li {
    margin-bottom: 2%;
}
#pAllergy, #pInjury, #pHistory, #pMechanism {
    font-weight: bold;
}
#injuryPb {
    width: 70%;
    height: 250px;
    float: left;
    margin-top: 3%;
    margin-left: 1%;
}
#ulInjuries {
    width: 100%;
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
    -moz-column-gap: 35px; /* Firefox */
    column-gap: 35px;
}
#divCard button {
    height: 60px;
    width: 200%;
    margin-bottom: 20px;
    border: 2px solid black;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}
#vitalTable {
    width: 100%;
}
#vitalTable th, td {
    width: 15%;
}
#vitalTable td {
    text-align: center;
    padding-bottom: 1em;
    border-bottom:1pt solid black;
}
.buttonOpacity {
    opacity: 0.5;
    pointer-events: none;
}
input[id$="hourInput"], input[id$="minuteInput"] {
    width: 10%;
    float: left;
    margin-left: 39%;
    text-align: center;
    background: transparent;
    border: none;
    font-weight: bold;
}
input[id$="minuteInput"] {
    margin-left: 0px;
}
.colon {
    float: left;
    font-weight: bold;
    font-size: 15px;
}
#dispatchTable tr textarea, #dispatchTable tr input {
    background: transparent;
    border: 1px solid grey;
}
#commentsPb {
    width: 60%;
    float: left;
}
#mechanism {
    float: left;
    margin-left: 4%;
}
#ulMechanism li {
    margin-bottom: 3%;
}
#divMgm {
    float: left;
    width: 12%;
}
#btnSave {
    height: 60px;
    width: 200%;
    border: 2px solid black;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    margin-left: 140%;
    margin-top: 200%;
}

