body {
    width: 100%;
}

#myPatient {
    margin-left: 30%;
    margin-top: 5%;
}

#patientInfo {
    margin-bottom: 2%;
}
#myTable {
	width: 100%;
	background-color: #333;
}
.header {
	width: 20%;
	height: 50px;
	color: white;
}
.header:hover {
	cursor: hand;
	background-color: red;
}
#patientDiv {
	padding: 20px 20px 20px;
    border-radius: 40px;
    background-color:rgba(0, 0, 0, 0.6);
}
#patientTable {
	width: 50%;
	margin-left: 25%;
}
.red {
	background-color: red;
}

#dispatchTable {
    float: left;
    width: 40%;
    margin-left: 5%;
}

#mapCall {
    position: absolute;
    right: 2px;
    width: 500px;
    height: 400px; 
}


