html, body {
    width: 100%;
}
body { 
    width: 100%; 
    margin:0px;
    font-family: Helvetica,Arial;
    background-image: url('../Images/greyGradient.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}
#myTable {
	width: 100%;
}
#topMenu {
	width: 100%;
}
.hide {
	width: 33%;
	background-color: #333;
	color: white;
	height: 50px;
}
.show {
	width: 33%;
	background-color: red;
	color: white;
	height: 50px;
}
.amb {
    width: 20%;
	background-color: grey;
	color:white;
	height: 25px;
}
th:hover {
    /*background-color: #111;*/
    cursor: hand;
}
.clicked {
	background-color: red;
}
table[id^='amb'] {
	color: red;
} 
table[id^='amb'] th {
	color: blue;
}
table[id$='table'] {
    width: 100%;
}
.tableth {
    width: 20%;
}
.tabletd {
    width: 30%;
}
#dispatchDiv {
    padding: 20px 20px 20px;
    border-radius: 40px;
    background-color:rgba(183, 166, 166, 1);
}
#dispatchTable {
    width: 100%;
}
#dispatchTable td {
    text-align: center;
}
#dispatchAmbList {
    float: right;
}
#mapCall {
    position: absolute;
    right: 2px;
    width: 40%;
    height: 400px; 
    z-index: 1;
}
#infoCall {
    width: 55%;
    position: relative;
    top: 205px;
    margin-left: 4%;
}
#calls {
    width: 86%;
    margin-left: 2%;
    float: left;
    margin-top: 2%
}
#calls tr td {
    width: 30%;
}
#callDiv {
    width: 100%;
    height: 150px;
    overflow-y: scroll;
    overflow-x: hidden;
}
#divWaiting {
    float: left;
    clear: left;
    width: 100%;
    margin-left: 2%;
    width: 100%;
    height: 150px;
    overflow-y: scroll;
    overflow-x: hidden;
}
#divResolved {
    float: left;
    clear: left;
    width: 100%;
    margin-left: 2%;
    width: 100%;
    height: 150px;
    overflow-y: scroll;
    overflow-x: hidden;
}
#divAmb {
    width: 30%;
    position: relative;
    top: 70px;
    right: -36%;
    float: right;
}
button[id^="dispAmb_"] {
    border: 1px solid black;
    text-align: center;
    cursor: pointer;
    height: 25px;
}
input, textarea {
    background: transparent;
    border: 1px solid #9F9797;
}
textarea {
    width: 100%;
}
#divP {
    width: 20%;
    float: left;
}
img {
    position: relative;
    top: 3px;
    margin-right: 5px;
}
.buttonOpacity {
    opacity: 0.5;
    pointer-events: none;
}
#cPhoneInput, #cNameInput {
    width: 99%;
}
button[id$="respond"], button[id$="info"], button[id$="done"], #btnWait, #btnEndCall {
  background: #ff0000;
  background-image: -webkit-linear-gradient(top, #ff0000, #330f0f);
  background-image: -moz-linear-gradient(top, #ff0000, #330f0f);
  background-image: -ms-linear-gradient(top, #ff0000, #330f0f);
  background-image: -o-linear-gradient(top, #ff0000, #330f0f);
  background-image: linear-gradient(to bottom, #ff0000, #330f0f);
  -webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 60px;
  font-family: Arial;
  color: #ffffff;
  font-size: 10px;
  padding: 5px 15px 5px 15px;
  text-decoration: none;
}
button[id$="respond"]:hover, button[id$="respond"]:hover, #btnWait:hover, #btnEndCall:hover {
  background: #e01b1b;
  background-image: -webkit-linear-gradient(top, #e01b1b, #f23333);
  background-image: -moz-linear-gradient(top, #e01b1b, #f23333);
  background-image: -ms-linear-gradient(top, #e01b1b, #f23333);
  background-image: -o-linear-gradient(top, #e01b1b, #f23333);
  background-image: linear-gradient(to bottom, #e01b1b, #f23333);
  text-decoration: none;
}
button[id$="respond"] {
    position: relative;
    top: 2px;
}
#divCall {
    position: relative;
    top: 550px;
    right: 30%;
}
#btnWait, #btnEndCall {
    height: 40px;
    width: 25%;
    font-size: 14px;
    border: 1px solid #CDCDCD;
}
#divColors {
    width: 10%;
    position: relative;
}
#btnRed, #btnYellow, #btnGreen {
    width: 10%;
    height: 30px;
    margin-bottom: 3%;
}
#tableActions {
    width: 40%;
    float: right;
    margin-top: -4%;
}
#tableActions td {
    width: 100%;
    text-align: center;
}
#tableActions tr td:first-child {
    /*padding-bottom: 80%;*/
}
.gravity {
    font-weight: bold;
}
#callTable, #tableWaiting, #tableResolved {
    overflow-y: scroll;
    margin: 0 auto;
}
ul[id^="listAmb"] {
    float: left;
    list-style-type: none;
}
#listAmbA:first-child {
    text-align: center;
    font-weight: bold;
}
#listAmbB:first-child {
    text-align: center;
    font-weight: bold;
}
#listAmbC:first-child {
    text-align: center;
    font-weight: bold;
}